.container {
  grid-column: 2/3;
  grid-row: 1/-1;
  font-family: var(--ff-primary);
  padding: 2em;
}
.title {
  color: var(--color-primary);
}
.info {
  color: var(--color-accent);
}

.item{
  border: 1px solid blue;
}

.item::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 50%;
  height: 50px;
  width: 2px;
  background-color: rgb(174, 174, 174);
}