:root {
  --color-primary: #33607a;
  --color-accent: #1c3848;

  --fc-primary: #fcfffd;
  --fc-secondary: #daffef;
  --fc-accent-a: #fa8334;
  --fc-accent-b: #c0c240;

  --ff-primary: Open Sans, Verdana, sans-serif;
}

.container {
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px calc(100vw - 200px);
  grid-template-rows: auto auto;
}
