.container {
  max-width: 100vw;
  height: 100%;
  padding: 2em;
  grid-column: span 2;
  grid-row: 1/-1;

  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  gap: .2em .3em;
}
