.sidebar {
  height: 100%;
  min-width: 170px;
  padding: 1em;
  grid-column: span 1;
  grid-row: 1 / -1;
  background: var(--color-accent);
  color: var(--fc-accent);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: fixed;
}
.sidebar img {
  width: 140px;

  object-fit: contain;
}
.nav {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid var(--fc-primary);
  border-bottom: 1px solid var(--fc-primary);
  /* height: 80%; */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: stretch;
  list-style: none;
  font-size: calc(1.4rem - 1vmin);
  font-family: var(--ff-primary);
  font-weight: bold;
}
.navItem {
  padding: 0.4em 0.2em;
  color: var(--fc-primary);
}
.info {
  width: 100%;
  padding: 0.3em;
  position: absolute;
  align-self: center;
  justify-self: flex-end;
  top: calc(100vh - 50px);
  color: var(--fc-primary);
  opacity: .5;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.info p {
  font-family: var(--ff-primary);
}

/* RESETTING BROWSER DEFAULTS */
ul,
li {
  margin: 0;
  padding: 0;
}
.sidebar a {
  margin: 0.2em auto;
  padding: 0.2em;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  width: 90%;
}

.sidebar a:hover {
  transform: scale(1.1);
}
